@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101013;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101013;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-familjen-grotesk), sans-serif;
  font-weight: 500;
}

.container{
  @apply md:max-w-[1350px] 2xl:max-w-[1740px] w-full mx-auto;
}


.inner-container {
  @apply py-7
}
.section{
  @apply border-x border-b border-[#27272b]
}